<header>
    <div class="container">
        <a href="#" routerLink="/home">HOMEPAGE</a>
        <img src="../../assets/img/doublearrow.png" alt="arrow">
        <h5>ABOUT THE COMPANY</h5>
    </div>
</header>

<div class="about">
    <div class="container">
        <div class="about-top">
            <h3>About the company</h3>
        </div>

        <div class="content">
            <p><b>NEP</b>company was established in the Republic of Azerbaijan in 1993. NEP company has been engaged in the manufacturing and commercial activities since the time it was established. NEP has been one of the leading companies in the fields
                of sale, installation and after-sale services of heating, cooling and ventilation systems and appliances since 1997. NEP has achieved tremendous success in both the fields of retail and project sales and project implementation within this
                period. Our company has been involved in the development of the private sector that improves as a result of the rapid growth of the economy of the country within those years.</p>
            <p>
                NEP company is a distributor of many famous companies of the world in Azerbaijan. It is an official representative of <b>DAIKIN (Japan)</b>, No 1 manufacturer of heating, cooling and ventilation systems and appliances of the world, <b>AERMEC (Italy)</b>                , manufacturer of the largest water cooling systems in Europe, world-famous <b>HAIER (China)</b> and many other companies and engaged in their sale, installation and after-sale services.</p>
            <p>
                Our company NEP has risen to the top among well-known mechanical firms in the market of local air conditioning, heating and cooling systems within its <b>activity of over 20 years</b>.</p>
            <b>Main direction of the activity of NEP company:</b>
            <ul>
                <li>Sales of split, multi-split, VRV, Rooftop, Chiller, etc. and other systems to projects and individuals</li>
                <li>Construction and installation works</li>
                <li>Mechanical works in construction</li>
                <li>Electrical works in construction</li>
                <li>Fire systems in construction</li>
                <li>Ventilation and smoke removal works</li>
                <li>Construction of industrial objects</li>
                <li>Electromechanical works of industrial objects</li>
                <li>Ventilation and smoke removal works</li>
                <li>Installation of refrigerators and storage chambers</li>
                <li>Installation of boiling-rooms, high-pressure steam-boilers</li>
                <li>Installation of pumping stations</li>
                <li>Building automation system works</li>
                <li>Mechanical and interior architectural project works, etc.</li>
            </ul>

            <b>NEP company is an author of many construction, mechanical and electrical projects in Azerbaijan and abroad.</b>
            <p>
                Our staff that consists of qualified engineers and experts is always responsible for their work and tries to provide service of high quality. It is our main goal to always provide our customers with high-quality, safe and operative service. Installation
                of the most advanced heating and cooling systems safely and of high quality is a special part of our work. Our professional team has been supplied with the latest equipment.</p>

        </div>
    </div>

</div>