<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 logo">
                <img src="../../assets/img/nep_logo2.png" alt="logo">
            </div>
            <div class="col-lg-8">
                <ul>
                    <li routerLink="/home">HOMEPAGE</li>
                    <li routerLink="/company">COMPANY</li>
                    <li routerLink="/products">PRODUCTS</li>
                    <li routerLink="/certificate">CERTIFICATES</li>
                    <li routerLink="/partners">PARTNERS</li>
                    <li routerLink="/contact">CONTACT</li>
                </ul>
            </div>
            <div class="col-lg-2">
                <div class="accounts">
                    <a href="https://www.facebook.com/DaikinAzerbaijan/" target="_blank"><i class="fa fa-facebook"
                            aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/daikin.az/" target="_blank"><i class="fa fa-instagram"
                            aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <hr>
        <div class="copyRight">
            <p>Copyright &copy; 2020 "NEP Engineering" All rights reserved. Site by <b>OKmedia</b></p>
        </div>
    </div>
</footer>