<section class="projects">
    <div class="container">
        <div class="row projects-row">
            <div class="col-md-3 col-6">
                <div class="card">
                    <img src="../../assets/img/1584354594_1572956516_kataloq-4oktyabr_10.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Administrative office of the Department of Work with Large Taxpayers of the Ministry of Taxes of the Republic of Azerbaijan:</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card">
                    <img src="../../assets/img/1584354552_1572956394_kataloq-4oktyabr_9.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Chief administrative office of the Ministry of Taxes of the Republic of Azerbaijan:
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card">
                    <img src="../../assets/img/1584354531_1572956360_kataloq-4oktyabr_8.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Chief administrative office of the Ministry of Communication of the Republic of Azerbaijan:</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card">
                    <img src="../../assets/img/1584354447_1572956246_kataloq-4oktyabr_7.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Chief administrative office of the State Migration Service of the Republic of Azerbaijan:</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card">
                    <img src="../../assets/img/1584354466_1572956233_kataloq-4oktyabr_6.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Building of the National Assembly of the Republic of Azerbaijan:</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card">
                    <img src="../../assets/img/1584354292_1572956201_kataloq-4oktyabr_5.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Chief administrative office of the State Customs Committee of the Republic of Azerbaijan:</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card">
                    <img src="../../assets/img/1584354297_1572955828_kataloq-4oktyabr_4.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Chief administrative office of the Ministry of Emergency Situations of the Republic of Azerbaijan:</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card">
                    <img src="../../assets/img/1584354242_1572955746_kataloq-4oktyabr_3.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Administrative office of State Registry Service of People under the Ministry of Justice of the Republic of Azerbaijan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>