<header>
    <div class="container">
        <a href="#" routerLink="/home">HOMEPAGE</a>
        <img src="../../assets/img/doublearrow.png" alt="arrow">
        <h5>CONTACT</h5>
    </div>
</header>
<div class="container">
    <div class="contact-top">
        <h3>CONTACT</h3>
    </div>
    <div class="row contact-row">
        <div class="col-lg-8">
            <h4>Contact Details</h4>
            <div class="tel">
                <div class="phone">
                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i> +99412 424 27 27
                </div>
                <div class="whatsApp" style="background-color: transparent;">
                    <i class="fa fa-whatsapp" aria-hidden="true"></i> +99450 214 06 30
                </div>
            </div>
            <div><b>You will be contacted after filling in the form</b></div>
            <form action="">
                <input type="text" class="form-control" placeholder="Name and Surname">
                <input type="text" class="form-control" placeholder="Phone">
                <textarea class="form-control" name="letter" id="letter" cols="30" rows="7" placeholder="Letter"></textarea>
                <button type="button" class="form-control">Send</button>
            </form>
        </div>
        <div class="col-lg-4">
            <div class="container">
                <div class="contactImg">
                    <img src="../../assets/img/contact-img.jpg" alt="contact-img">
                </div>
                <div class="text-center"><b>Baku city, Albert Agarunov str 14B</b></div>
            </div>
        </div>
    </div>
</div>

<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.726202442479!2d49.92020131477028!3d40.392760465021965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d17da4637df%3A0xd3279f91d541a9c0!2sNep%20Engineering!5e0!3m2!1str!2sus!4v1599663821151!5m2!1str!2sus"
        frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>