<header>
    <div class="container">
        <a href="#" routerLink="/home">HOMEPAGE</a>
        <img src="../../assets/img/doublearrow.png" alt="arrow">
        <h5>Certificates</h5>
    </div>
</header>
<div class="container">
    <div class="certificate-top">
        <h3>Certificates</h3>
    </div>
    <div class="row certificate-row">
        <div class="col-6">
            <div class="certificateImg">
                <img src="../../assets/img/c1.png" alt="certificate">
            </div>
        </div>
        <div class="col-6">
            <div class="certificateImg">
                <img src="../../assets/img/c2.png" alt="certificate">
            </div>
        </div>
        <div class="col-6">
            <div class="certificateImg">
                <img src="../../assets/img/c3.png" alt="certificate">
            </div>
        </div>
    </div>
</div>