<header>
    <div class="container">
        <a href="#" routerLink="/home">HOMEPAGE</a>
        <img src="../../assets/img/doublearrow.png" alt="arrow">
        <h5>PARTNERS</h5>
    </div>
</header>

<section class="partners">
    <div class="container">
        <div class="partners-top">
            <h3>PARTNERS</h3>
        </div>
        <div class="row partners-row">
            <div class="col-4 col-md-2">
                <a href="https://aquatherm.com/welcome" target="_blank">
                    <img src="../../assets/img/part1.jpg" alt="partners">
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a href="https://cuenod.com" target="_blank">
                    <img src="../../assets/img/part5.png" alt="partners">
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a href="https://global.aermec.com" target="_blank">
                    <img src="../../assets/img/part10.jpg" alt="partners">
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a href="http://www.elco-tr.com" target="_blank">
                    <img src="../../assets/img/part11.png" alt="partners">
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a href="https://www.icicaldaie.com" target="_blank">
                    <img src="../../assets/img/part13.jpg" alt="partners">
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a href="https://www.haier.com/index.html" target="_blank">
                    <img src="../../assets/img/part15.png" alt="partners">
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a href="http://havalansan.com/elicent/" target="_blank">
                    <img src="../../assets/img/part16.png" alt="partners">
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a href="https://www.frascold.it" target="_blank">
                    <img src="../../assets/img/part18.png" alt="partners">
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a href="https://www.akfel.com/en/" target="_blank">
                    <img src="../../assets/img/part19.png" alt="partners">
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a href="https://www.aldag.com.tr" target="_blank">
                    <img src="../../assets/img/part20.jpg" alt="partners">
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a href="https://www.daikin.com" target="_blank">
                    <img src="../../assets/img/part22.png" alt="partners">
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a href="https://www.friterm.com" target="_blank">
                    <img src="../../assets/img/part23.png" alt="partners">
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a href="https://www.solerpalau.com.tr" target="_blank">
                    <img src="../../assets/img/part24.jpg" alt="partners">
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a href="https://www.vortice.com/en/" target="_blank">
                    <img src="../../assets/img/part27.png" alt="partners">
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a href="https://www.swareflex.com" target="_blank">
                    <img src="../../assets/img/part26.png" alt="partners">
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a href="https://www.halcor.com" target="_blank">
                    <img src="../../assets/img/part27.jpg" alt="partners">
                </a>
            </div>
        </div>
    </div>
</section>