<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEP Engineering</title>
    <link rel="icon" href="img/nep_favicon.png" type="image/icon type">
</head>

<body>
    <app-nav></app-nav>
    <router-outlet></router-outlet>
    <app-footer></app-footer>

    <div class="whatsApp fixed-bottom text-center">
        <a href="https://api.whatsapp.com/send?phone=994502023006&text=Salam,%20sizə%20sfvgroup.az%20saytından%20yazıram.">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
            <b>Write us on WhatsApp</b></a>
    </div>
</body>

</html>