<header>
    <div class="container">
        <a href="#" routerLink="/home">HOMEPAGE</a>
        <img src="../../assets/img/doublearrow.png" alt="arrow">
        <h5>PRODUCTS</h5>
    </div>
</header>
<section class="products">
    <div class="container">
        <div class="products-top">
            <h3>PRODUCTS</h3>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <img src="../../assets/img/p1.jpg" class="card-img-top" alt="product">
                    <div class="card-body">
                        <h6 class="card-title">LIGHTERA DC INVERTER SERIES</h6>
                        <div>
                            <a href="#" class="btn">Marka: Haier</a>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-secondary">Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="../../assets/img/p2.jpg" class="card-img-top" alt="product">
                    <div class="card-body">
                        <h6 class="card-title">JADE SERIES</h6>
                        <div>
                            <a href="#" class="btn">Marka: Haier</a>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-secondary">Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="../../assets/img/p3.png" class="card-img-top" alt="product">
                    <div class="card-body">
                        <h6 class="card-title">LEADER DC-INVERTER SERIES</h6>
                        <div>
                            <a href="#" class="btn">Marka: Haier</a>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-secondary">Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="../../assets/img/p4.png" class="card-img-top" alt="product">
                    <div class="card-body">
                        <h6 class="card-title">LIGHTERA PREMIUM SERIES</h6>
                        <div>
                            <a href="#" class="btn">Marka: Haier</a>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-secondary">Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="../../assets/img/p5.png" class="card-img-top" alt="product">
                    <div class="card-body">
                        <h6 class="card-title">LIGHTERA CRYSTAL SERIES</h6>
                        <div>
                            <a href="#" class="btn">Marka: Haier</a>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-secondary">Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="../../assets/img/p6.png" class="card-img-top" alt="product">
                    <div class="card-body">
                        <h6 class="card-title">ELEGANT DC-INVERTER SERIES</h6>
                        <div>
                            <a href="#" class="btn">Marka: Haier</a>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-secondary">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>