<header>
    <div class="container">
        <a href="#" routerLink="/home">HOMEPAGE</a>
        <img src="../../assets/img/doublearrow.png" alt="arrow">
        <h5>SERVICES</h5>
    </div>
</header>
<div class="services">
    <div class="container">
        <div class="services-top">
            <h3>Services</h3>
        </div>
        <b>We are an experienced company making our way to the quality and safety of our projects.</b>
        <p>“NEP Engineering” company that has been implementing complex projects in state and private sectors of construction in Azerbaijan and Turkey since 2005 is an author of numerous projects.</p>
        <b>Our fields of activity:</b>
        <p>-Planning and construction of residential buildings; -Planning and construction of administrative buildings; -Planning and construction of commercial objects; -construction of industrial enterprises; raw material supply for the manufacture of
            construction materials; -Planning and construction of agricultural objects; -Project and design works of buildings and flats and turnkey construction; -etc. other construction works;</p>
        <p>Despite our achievements, we are continuously moving towards ambitious goals we have set.
        </p>
        <b>Electric high current works</b>
        <p>Low and Mid-Voltage Works, Low Voltage Panels (MCC, Compensation, automatic order), BusBar Energy Dispersal Systems, Cabling Systems, Uninterrupted Power Supply (UPS) Systems, Mid-Voltage Cells, Socket and Lighting Installations, Grounding and
            Lightning Protection, Transformer and Generator Works
        </p>
        <b>Electric weak current works</b>
        <p>Access Control Security Systems (Card entry), Emergency Alert Systems, CO Gas Detector Systems, Data and Telephone Systems, CCTV (Closed-Circuit Television) Image View and Recording Systems, SMATV and IPTB Systems, Airplay System, Network Systems,
            Parking Guidance Systems, Signal Systems, Turnstyle and Fingerprint Systems, Fire Alarm Systems</p>

        <b>Automation Works</b>
        <p>Mechanical Automation Works, Lighting Automation Works, Remote meter reading systems, Scada and Energy Tracking Systems, Conventional Control Systems, Cascade Systems
        </p>
        <b>Mechanical Sanitary Installation</b>
        <p>Garden Irrigation Installation, Contaminated Water Installation, Hot Water Installations, Cold Drinking Water Installation, Rainwater Installation, Fresh Water Installation</p>

        <b>Mechanical Heating installation</b>
        <p>Heating Equipment Installations, Steam Installations, Heating Installations with FanCoil, Heating Installations with Evaporator, Hot Water Systems, Heating Installations with Convector, Heating Installations with Radiator, Radiant (with radiation)
            Heating Installations, Hot Water Systems, Heating Installations with Split Airconditioner, VRV/VRF Heating Installations, Underfloor Heating Installations
        </p>
        <b>Mechanical Cooling Installation</b>
        <p>Heating Installation with FanCoil, Cooling Installation with Evaporator Comfort Practices, Process Installation, Cooling Installations with Split Airconditioner, Cold Room Installation, Vrv/Vrf Cooling Installation, Precision Air Conditioner Installation</p>
        <b>Mechanical Fire Installation</b>
        <p>Gaseous Fire Fighting Systems, Hydrant Installation, Chemical Fire Fighting Installation, Foam extinguisher Installation, Dry Chemical Fire Fighting Systems, Sprink Installation, Water Fire Fighting Systems, Fire Cabinet Installation</p>

        <b>Mechanical Industrial Installation</b>
        <p>Compressed Air Installation, Pressure Oil Installation, Steam Installation, Hot Oil Installation, Hot Water Installation, Hot Steam Installation, Moistening and Dehumidification Systems, Moistening and Dehumidification Systems with Evaporator,
            Water Jet Moistening Systems, Steam Jet Moistening Systems, Portable Dehumidification Systems</p>

        <b>Mechanical Natural Gas Installation</b>
        <p>Intra-Agency Installation, Column Installation, Gazdash Road Installations, High Capacity Industrial Installations</p>

        <b>Mechanical Decontamination & Softening Systems</b>
        <p>Water Filtration System, Water Softening System, Ultraviolet Sterilization System, Sea-Water Desalination System, Dosing System, Other Industrial Systems</p>
        <b>Mechanical Ventilation and Exhaust Installation</b>
        <p>Ventilation Installation with Aspiration, Industrial Ventilation Systems, Domestic Comfort Practices, Ventilation Installation with Evaporator, Stair Pressurization installation, Parking Exhaust Installation, Shelter ventilation installation</p>

        <div class="row">
            <div class="col-6 offset-3">
                <img src="../../assets/img/1583739178_customer.jpg" alt="customer">
            </div>
        </div>



    </div>

</div>