<section class="projects">
    <div class="container">
        <div class="row projects-row">
            <div class="col-md-3 col-6">
                <div class="card">
                    <img src="../../assets/img/1584348787_1572956856_kataloq-4oktyabr_23.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">ASTORIA:</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card">
                    <img src="../../assets/img/1584348630_1572956795_kataloq-4oktyabr_24.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">LANKARAN OLYMPIC COMPLEX:</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card">
                    <img src="../../assets/img/1584348666_1572956881_kataloq-4oktyabr_25.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">BAKU OLYMPIC STADIUM:</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card">
                    <img src="../../assets/img/1584348583_1572956899_kataloq-4oktyabr_26.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">GABALA OLYMPIC COMMITTEE:</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card">
                    <img src="../../assets/img/1584348572_1572956912_kataloq-4oktyabr_27.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">SHAKI OLYMPIC SPORT COMPLEX:</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card">
                    <img src="../../assets/img/1584348462_1572956988_kataloq-4oktyabr_28.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">BAKU AQUATICS PALACE:</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card">
                    <img src="../../assets/img/1584348400_1572957094_kataloq-4oktyabr_29.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">AZERCELL:</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card">
                    <img src="../../assets/img/1584348391_1572957198_kataloq-4oktyabr_30.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">BAKCELL:</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>